* {
  transition: ease-in-out 100ms;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  background: linear-gradient(#e59f79, #35242c);

  overflow: hidden;
}

h1 {
  box-sizing: border-box;
  position: fixed;
  font-family: "Major Mono Display", monospace;
  color: rgb(250, 235, 215, 0.8);
  font-size: 4rem;
  width: 100%;
  height: 2rem;
  padding: 1rem;
  text-align: center;

  z-index: -3;
}
.content {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 100vh;
  margin: 0;
  margin-top: 4rem;
}

.sky {
  display: flex;
  margin: 0 1rem;
  flex: 1;
}

main {
  flex: 1;
  color: #faebd7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-top: 3rem;
  padding: 0;
  width: 550px;
  height: 100vh;
  flex-shrink: 0;
}

.intro {
  box-sizing: border-box;
  width: 366px;
  flex: 1;
  margin: 0 2rem 0 1rem;
}

/* SKY elements */
#jar {
  position: fixed;
  height: 570px;
  left: -5rem;
  margin-top: -3rem;
  z-index: -1;
}
.sky-con {
  position: relative;
  align-self: center;
  padding-top: 3rem;
  padding-left: 2.05rem;
  height: 550px;
}
#bg {
  position: fixed;
  overflow: hidden;
  margin-top: 2rem;
  height: 470px;
  border-radius: 80px 80px 50px 50px;
  z-index: -2;
}

.star {
  position: absolute;
  color: #faebd7;
  color: rgba(250, 235, 215, 0);
  font-size: 3rem;
  transition: ease-in-out 200ms;
}
.star:hover {
  cursor: pointer;
  text-shadow: 1px 1px 5px rgb(252, 252, 252);
}

/* STAR POSITIONING */
.star-0 {
  top: 103px;
  left: 247px;
}
.star-1 {
  top: 125px;
  left: 258px;
}
.star-2 {
  top: 195px;
  left: 237px;
}
.star-3 {
  top: 208px;
  left: 190px;
}
.star-4 {
  top: 302px;
  left: 229px;
}
.star-5 {
  top: 367px;
  left: 113px;
}
.star-6 {
  top: 372px;
  left: 93px;
}
.star-7 {
  top: 370px;
  left: 105px;
}
.star-8 {
  top: 308px;
  left: 99px;
}
/* MAIN element */

h2 {
  display: block;
  color: #77afb1;
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
  text-align: center;
  width: 100%;

  z-index: 3;
}
h2#date {
  text-align: end;
  position: fixed;
  color: #7d9fa0;
  font-size: 2rem;
  margin-top: -2rem;
  z-index: -1;
}
h2.song-title {
  margin: 0 auto;
}
#video {
  overflow: hidden;
  width: 100%;

  border-radius: 8px;
  box-shadow: 10px 10px 20px 5px #1f191f;
  width: 180px;
  height: 180px;
  /* Keep it the right aspect-ratio */
  aspect-ratio: 16/9;
}
#video iframe {
  /* Extend it beyond the viewport... */
  width: 650%;
  height: 100%;
  /* ...and bring it back again */
  margin-left: -275%;
}

.video-con {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 2rem;
  width: 100%;
}
.video-con button {
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 100%;
  border: 3px solid transparent;
  height: 50px;
  padding: 18px 9px 66px 22px;
  transition: ease-in-out 100ms;
}
.video-con button img {
  width: 50px;
}
.video-con button:hover {
  border: 3px solid antiquewhite;
}

.video-con .back {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#thumb h2 {
  max-width: 450px;
}

/* INTRO element */
.intro {
  display: flex;
  align-items: center;
}
.intro p {
  max-width: 500px;
  background-color: antiquewhite;
  box-shadow: 5px 5px 15px 5px #574156;
  border-radius: 3px;
  padding: 1rem;
}
/* Breakpoints */
/* Default: extra-large */

@media screen and (max-width: 1255px) {
  body {
    overflow: initial;
  }
}
/* Large */
@media screen and (max-width: 1250px) {
  body {
    overflow: initial;
  }
  .content {
    height: initial;
    flex-wrap: wrap;
  }
  .sky {
    flex: 1;
  }
  main {
    flex: 0.5 1 auto;
    width: 100vh;
    max-width: 700px;
  }
  .intro {
    flex: 1 0 auto;
  }
  .intro p {
    margin: 0 auto;
  }
}
/* medium */
@media screen and (max-width: 1100px) {
  body {
    overflow: initial;
  }
  .content {
    height: initial;
    flex-wrap: wrap;
  }
  .sky {
    flex: 1;
  }
  main {
    flex: 0.5 1 auto;
    width: 40vh;
    max-width: 700px;
  }
  .intro {
    flex: 1 0 auto;
    width: 100vh;
  }
}
/* small */
@media screen and (max-width: 831px) {
  body {
    overflow: initial;
  }
  .content {
    height: initial;
    flex-wrap: wrap;
  }
  .sky {
    flex: 1;
  }
  main {
    flex: 0.5 1 auto;
    width: 100vh;
  }
  .intro {
    flex: 1 0 auto;
    width: 100vh;
  }
  .intro p {
    margin: 0 auto;
  }
  h2.song-title {
    background-color: #35242c;
    padding: 01rem;
    box-shadow: 10px 10px 20px 5px #1f191f;
    border-radius: 3px;
  }
}
